<h1>Main Component</h1>
<h1 id="videoTitle"></h1>
        <!--<div class="VideoNav">
            <ol>
                <li><a id="Google+Fonts.flv" href="/getvideo/Google+Fonts.flv">Video A</a></li>
                <li><a id="Adding+a+Story.flv" href="/getvideo/Adding+a+Story.flv">Video B</a></li>
                <li><a a id="Prefabs+for+Level+Building.flv" href="/getvideo/Prefabs+for+Level+Building.flv">Video C</a></li>
            </ol>
        </div>
        <div class="userinfo">
            <ul>
                <li>User: <%= user.fullName %></li>
                <li>Subscription? <%= user.subscription %></li>
                <li>Videos Seen: <%= user.watchedVideos %></li>
            </ul>
        </div>-->
        <div class="videosDiv">
           <video width="320" height="240" controls>
            <source src="/img/test2.mp4" type="video/mp4">
            </video>
        </div>