    <!--<h1 id="videoTitle">{{ video.name }}</h1>-->
        <!--<h1 id="videoTitle">{{ video.name }}</h1>
        <div class="userinfo">
            <ul>
                <li>User: <%= user.fullName %></li>
                <li>Subscription? <%= user.subscription %></li>
                <li>Videos Seen: <%= user.watchedVideos %></li>
            </ul>
        </div>-->

       <!-- <video id="video1" class="video-js vjs-default-skin" width="640" height="480" data-setup='{"controls" : true, "autoplay" : true, "preload" : "auto"}'>
        <source src="https://s3.amazonaws.com/nerdlevels/{{ video.project }}/{{ video.component }}/{{ video.name }}" type="video/x-flv"> </video>-->


    <div class="videosDiv">
            <!--{{ video.track }}
            {{ video.project }}
            {{ video.component }}
            {{ video.name }}
            {{ video.number }}
           <video width="320" height="240" controls> -->
            <!--<source src="https://s3.amazonaws.com/nerdlevels/{{ video.project }}/{{ video.component }}/{{ video.name }}" type="video/mp4">-->
           <!-- <source src="https://s3.amazonaws.com/nerdlevels/<%= project %>/<%= component %>/<%= vidName %>" type="video/mp4">

            </video> -->
        </div>