<!DOCTYPE html>
<html>
     <head>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>NerdLevels</title>
          <script src="https://use.fontawesome.com/5609f9221d.js"></script>
          <link rel="stylesheet" href="css/style.css">
     </head>
     <body>
          <nav>
               <ul class="navigation-list">
                    <li class="navigation-list__item"><a href="/">Home</a></li>
                    <li class="navigation-list__item"><a href="/about">About</a></li>
                    <li class="navigation-list__item">Examples</li>
                    <li class="navigation-list__item"><a href="/landingOld">Members</a></li>
               </ul>
          </nav>

          <header class="main-header content-section">
               <h1 class="main-header__title">About <span class="main-header__title--emphasize">NerdLevels</span></h1>
               <h4 class="main-header__subtitle">NerdLevels offer programming courses in video game and web development. Developed by teachers and programmers, our content focuses on programming with with technologies used and in demand by the industry. Unlike traditional programming courses all of our curriculum is project based. We provide you an authentic problem to solve, you design a high-quality solution, and we give you the information you need to make your vision come true.</h2>
          </header>

          <section class="curriculum content-section">
               <h2 class="curriculum__title">Web Development Track</h2>
               <h4 class="curriculum__subtitle"></h3>
               <div class="curriculum--flex-box">
                    <section class="class-offering">
                         <h5 class="curriculum__subtitle">In our Web Development fundamentals course, you will learn how to program with HTML, CSS and Javascript. We will teach you how to use Node.js and key node modules as well as OAuth 2.0, social authentication and how to create a subscription service.</h5>
                         <img class="class-offering__image"src="img/web.jpg" alt="">
                    </section>
                    <section class="class-offering">
                         <h4 class="class-offering__title">Web Track Projects</h4>
                         <h5 class="class-offering__title">Web Full Stack Fundamentals</h5>
                         <ol class="class-offering__list">
                              <li>Online Resume</li>
                              <li>Online Portfolio</li>
                              <li>Javascript Form</li>
                              <li>Saving to a Database</li>
                              <li>Blog or Trivia Game</li>
                              <li>Youtube or Soundcloud consolidation site</li>
                              <li>Online Store</li>
                         </ol>
                         <h5 class="class-offering__title">Web Full Stack Advanced Topics</h5>
                         <p class="class-offering__text">Projects in development</p>
                    </section>
               </div>
          </section>

          <section class="curriculum content-section">
               <h2 class="curriculum__title">Game Development Track</h2>
               <div class="curriculum--flex-box">
                    <section class="class-offering">
                         <h5 class="curriculum__subtitle">Our Game Development course will teach you how to build fantastic games using the Unity engine and the C# programming language. Learn and master coding principles with designing and building your very own games including a platformer, puzzle, dungeon crawler and role playing game.</h5>
                         <img class="class-offering__image"src="img/gaming.jpg" alt="">
                    </section>
                    <section class="class-offering">
                         <h3 class="class-offering__title">Game Track Projects</h4>
                         <h5 class="class-offering__title">2D Games</h5>
                         <ol class="class-offering__list">
                              <li>Platformer</li>
                              <li>Puzzle</li>
                              <li>Artillery</li>
                              <li>Metroidvania</li>
                              <li>Dungeon Crawler</li>
                              <li>RPG</li>
                         </ol>
                         <h5 class="class-offering__title">3D Games (In Development)</h5>
                         <ol class="class-offering__list">
                              <li>Tower Defense</li>
                              <li>First Person Shooter</li>
                              <li>Fighting</li>
                              <li>Real Time Strategy</li>
                              <li>Stealth/Survival</li>
                              <li>Sports</li>
                              <li>Western RPG</li>
                         </ol>
                    </section>
               </div>
          </section>

          <footer class="footer content-section">
               <section class="footer__section social-media">
                    <h2 class="social-media__title">Connect With Us</h2>
                    <div class="social-media--flex-box">
                         <a class="social-media__icon" href="https://twitter.com/NerdLevels"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
                         <a class="social-media__icon" href="https://www.facebook.com/profile.php?id=100015577668271"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
                         <a class="social-media__icon" href="https://www.instagram.com/nerdlevels/"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
                         <a class="social-media__icon" href="https://www.linkedin.com/in/nerdlevels-ca-3831a5137/"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
                    </div>
               </section>
               <section class="footer__section contact">
                    <h2 class="contact__title">Contact Us</h2>
                    <form class="signup-form" action="https://formspree.io/j.alex.larrimore@nerdlevels.com" method="post">
                         <input class="signup-form__input" type="text" name="name" placeholder="Please enter your name">
                         <input class="signup-form__input" type="email" name="_replyto" placeholder="Please enter your email address">
                         <textarea class="signup-form__input" name="message" rows="8" placeholder="Please enter your message"></textarea>
                         <input type="hidden" name="_subject" value="New Message from NerdLevels Visitor" />
                         <input type="text" name="_gotcha" style="display:none" />
                         <input class="signup-form__button" type="submit" name="submit" value="Send">
                    </form>
               </section>
               <section class="footer__section copyright">
                    <img class="copyright__logo" src="img/nerdlevels-logo.gif">
                    <h2 class="copyright__title">NerdLevels</h2>
                    <p class="copyright__text">Pasadena, CA</p>
                    <p class="copyright__text">Copyright 2016 by NerdLevels</p>
               </section>
          </footer>

     </body>
</html>
