<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta charset="UTF-8">
    <link rel="stylesheet" href="/css/header-basic.css">
    <link rel="stylesheet" href="/css/errorpage.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  </head>
  <body>
    <header class="header-basic">

            <div class="header-limiter">
                <h1>NerdLevels</h1>
                <nav>
                    <a href="../#">Home</a>
                    <a href="index">Learn</a>
                    <a href="examples">Examples</a>
                    <a href="blog">Blog</a>
                    <a href="about">About</a>
                    <a href="faq">Faq</a>
                </nav>
            </div>

        </header>
          <h2>You do not have access to view that video! Ask your instructor for help.</h2>

  </body>
</html>
