<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>NerdLevels Index</title>
	<link rel="stylesheet" href="/css/chatroomStyles.css">
	<script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://widget.cloudinary.com/global/all.js"></script>
    <script>
    'use strict';
    $(() => {
        let socket = io('<%= host %>' + '/chatter', {
                        transports: ['websocket']
                        });
        let user = '<%= user.fullName %>';
        let userPic = '<%= user.profilePic %>';
                        
        socket.on('connect', () => {
           console.log("connected to nerdlevels");
           socket.emit('join', {
               user,
               userPic
            });
        });
        
        
        
        
    });
    </script>
</head>
<body>
	<div class="container">
		<div class="titlePanel">
			<h1>NerdLevels</h1>
		</div>

	</div>
</body>
</html>