<!DOCTYPE html>
<html>
     <head>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>NerdLevels</title>
          <script src="https://use.fontawesome.com/5609f9221d.js"></script>
          <link rel="stylesheet" href="css/style.css">
     </head>
     <body>
          <nav>
               <ul class="navigation-list">
                    <li class="navigation-list__item"><a href="/#">Home</a></li>
                    <li class="navigation-list__item"><a href="about">About</a></li>
                    <li class="navigation-list__item"><a href="examples">Examples</a></li>
                    <li class="navigation-list__item"><a href="landingOld">Members</a></li>
               </ul>
          </nav>

          <header class="main-header content-section">
               <h1 class="main-header__title">Welcome to <span class="main-header__title--emphasize">NerdLevels</span></h1>
               <h4 class="main-header__subtitle">We provide innovative high-quality programming education to teenagers in need of a creative challenge.</h2>
          </header>

          <section class="curriculum content-section">
               <h2 class="curriculum__title">Curriculum</h2>
               <h4 class="curriculum__subtitle">Choose from the following educational tracks. Each will teach you how to build your own projects.</h3>
               <div class="curriculum--flex-box">
                    <section class="class-offering">
                         <img class="class-offering__image" src="img/web.jpg" alt="">
                         <h3 class="class-offering__title">Web</h3>
                         <p class="class-offering__text">In our Web Development fundamentals course, you will learn how to program with HTML, CSS and Javascript. We will teach you how to use Node.js and key node modules as well as OAuth 2.0, social authentication and how to create a subscription service.</p>
                    </section>
                    <section class="class-offering">
                         <img class="class-offering__image" src="img/gaming.jpg" alt="">
                         <h3 class="class-offering__title">Game</h3>
                         <p class="class-offering__text">Our Game Development course will teach you how to build fantastic games using the Unity engine and the C# programming language. Learn and master coding principles by designing and building your very own games including a platformer, puzzle, dungeon crawler and role playing game.</p>
                    </section>
               </div>
          </section>

          <section class="staff content-section">
               <h2 class="staff__title">Meet the Crew</h2>
               <div class="staff--flex-box">
                    <section class="mini-bio">
                         <img class="mini-bio__image" src="img/alex.jpg">
                         <h3 class="mini-bio__title">Alex Larrimore</h3>
                         <p class="mini-bio__text">Alex has a Master's in Education with a focus on curriculum development and has been teaching and learning how to improve educational practices for seven years.
                           His goal is to educate students by helping them figure out what they love to learn and teaching them to use that knowledge to complete valuable tasks, such as designing and creating
                           their own websites and video games.</p>
                    </section>
                    <section class="mini-bio">
                         <img class="mini-bio__image" src="img/moises.jpg">
                         <h3 class="mini-bio__title">Moises Baez</h3>
                         <p class="mini-bio__text">Moises has more than 5 years of experience teaching both young students and adult learners at the high school, college and university level. He's passionate about
                           revolutionizing the state of teaching in Computer Science and programming in general.</p>
                    </section>
               </div>
          </section>

          <section class="choose-us content-section">
               <h2 class="choose-us__title">Choose Us</h2>
               <div class="choose-us--flex-box">
                    <section class="key-point">
                         <i class="key-point__icon fa fa-graduation-cap fa-5x" aria-hidden="true"></i>
                         <h3 class="key-point__title">Experience</h3>
                         <p class="key-point__text">Our staff has worked with young students for years teaching them the fundamentals of Computer Science.</p>
                    </section>
                    <section class="key-point">
                         <i class="key-point__icon fa fa-lightbulb-o fa-5x" aria-hidden="true"></i>
                         <h3 class="key-point__title">Engaging</h3>
                         <p class="key-point__text">Projects are geared toward student interests, which facilitates the learning of fundamental concepts.</p>
                    </section>
                    <section class="key-point">
                         <i class="key-point__icon fa fa-book fa-5x" aria-hidden="true"></i>
                         <h3 class="key-point__title">Research Based</h3>
                         <p class="key-point__text">Countless hours of research has been done by staff members to ensure that the most update to date teaching practices are utilized to maximize student learning.</p>
                    </section>
               </div>
          </section>

          <section class="learn-more content-section">
               <div class="learn-more--flex-box">
                    <section class="newsletter">
                         <h2 class="newsletter__title">Signup to Learn More</h2>
                         <h4 class="newsletter__subtitle">Stay updated on all the latest news, insights, and events from NerdLevels. We promise not to spam your inbox.</h4>
                         <!-- <form class="signup-form" method="post">
                              <input class="signup-form__input" type="text" name="name" placeholder="Enter your full name">
                              <input class="signup-form__input" type="email" name="email" placeholder="Enter your e-mail address">
                              <button class="signup-form__button" type="button" name="button">Sign Up</button>
                         </form> -->
                         <div id="mc_embed_signup">
                              <form action="//nerdlevels.us15.list-manage.com/subscribe/post?u=b93d025863a789d625035a08d&amp;id=44c765c057" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate signup-form" target="_blank" novalidate>
                                   <div id="mc_embed_signup_scroll">
                                        <input class="signup-form__input" type="text" value="" name="FNAME" class="" id="mce-FNAME" placeholder="Enter your first name">
                                        <input class="signup-form__input" type="text" value="" name="LNAME" class="" id="mce-LNAME" placeholder="Enter your last name">
                                        <input class="signup-form__input" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Enter your e-mail address">
                                        <div id="mce-responses" class="clear">
                                        	<div class="response" id="mce-error-response" style="display:none"></div>
                                        	<div class="response" id="mce-success-response" style="display:none"></div>
                                        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b93d025863a789d625035a08d_44c765c057" tabindex="-1" value=""></div>
                                        <div class="clear"><input class="signup-form__button" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                                   </div>
                              </form>
                         </div>
                    </section>
               </div>
          </section>

          <footer class="footer content-section">
               <section class="footer__section social-media">
                    <h2 class="social-media__title">Connect With Us</h2>
                    <div class="social-media--flex-box">
                         <a class="social-media__icon" href="https://twitter.com/NerdLevels"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
                         <a class="social-media__icon" href="https://www.facebook.com/profile.php?id=100015577668271"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
                         <a class="social-media__icon" href="https://www.instagram.com/nerdlevels/"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
                         <a class="social-media__icon" href="https://www.linkedin.com/in/nerdlevels-ca-3831a5137/"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
                    </div>
               </section>
               <section class="footer__section contact">
                    <h2 class="contact__title">Contact Us</h2>
                    <form class="signup-form" action="https://formspree.io/mbaez@phunfactory.com" method="post">
                         <input class="signup-form__input" type="text" name="name" placeholder="Please enter your name">
                         <input class="signup-form__input" type="email" name="_replyto" placeholder="Please enter your email address">
                         <textarea class="signup-form__input" name="message" rows="8" placeholder="Please enter your message"></textarea>
                         <input type="hidden" name="_subject" value="New Message from NerdLevels Visitor" />
                         <input type="text" name="_gotcha" style="display:none" />
                         <input class="signup-form__button" type="submit" name="submit" value="Send">
                    </form>
               </section>
               <section class="footer__section copyright">
                    <img class="copyright__logo" src="img/nerdlevels-logo.gif">
                    <h2 class="copyright__title">NerdLevels</h2>
                    <p class="copyright__text">Pasadena, CA</p>
                    <p class="copyright__text">Copyright 2016 by NerdLevels</p>
               </section>
          </footer>

     </body>
</html>
