<!DOCTYPE html>
<html>

<head>
    <base href="/">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>NerdLevels</title>
    <link rel="icon" type="image/png" href="/img/nerdlevels-logo-green.png" />


    <link rel="stylesheet" href="/css/header-basic.css">
    <link rel="stylesheet" href="/css/rando.css">

    <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
	<link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>

	<script src="/js/jquery-2.1.4.min.js"></script>


</head>

<body>
	<header class="header-basic">

            <div class="header-limiter">
                <h1>NerdLevels</h1>
                <nav>
                    <a href="/#">Home</a>
                    <a href="index">Learn</a>
                    <a href="examples">Examples</a>
                    <a href="blog">Blog</a>
                    <a href="about">About</a>
                    <!--<a href="faq">Faq</a>-->
                </nav>
            </div>

       </header>
        <main>
            <h1>Page Missing! Check your address? </h1>
        </main>
    </body>
</html>
